body {
	font-family: sans-serif;
}

.jumbotron div h2 {
	color: green;
}

.jumbotron button {
	width: 250px;
	position: relative;
	margin: 10px;
}

input {
	width: 500px;
	height: 33px;
	border-radius: 10px;
	decoration: none;
}